
ConfiguraçãoAutomaticaDeComputadores/off/netwk/net.txt
ConfiguraçãoAutomaticaDeComputadores/off/netwk/sims-bak.xml
ConfiguraçãoAutomaticaDeComputadores/off/netwk/netwk.ps1
ConfiguraçãoAutomaticaDeComputadores/off/netwk/sims.xml
ConfiguraçãoAutomaticaDeComputadores/Script sims.code-workspace
